<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polls Page</title>
    {% load static %}  <!-- static files loader -->
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to the Polls Page</h1>
    </header>

    <main>
        <section class="intro">
            <p>Vote candidates, check on credentials and campaign contributions, and view results in real-time. Join the community of voters</p>
            <a href="#" class="btn">Vote Here</a>
        </section>
        
        <section class="features">
            <h2>Features</h2>
            <ul>
                <a href="#"</a>
                <li>🗳️ Candidates</li>
                <a href="#"</a>
                <li>🗳️ Credentials</li>
                <a href="#"</a>
                <li>🗳️ Campaign Contributions</li>
            </ul>
        </section>
    </main>

    <footer>
        <p>© 2024 Polls Page. All rights reserved.</p>
    </footer>
</body>
</html>
